@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
}
.left_menu {
    width: 60px;
    height: 1040px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: gray;
}

.left_menu img {
    width: 40px;
}

header {
    width: 1860px;
    height: 300px;
}

section {
    width: 18600px;
    height: 1040px;
}

.main_menu {
    margin-left: 60px;
    text-align: center;
    
}
.main_menu li {
    display: inline-block;
}

.info {
    background-image: url('../img/content_img.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.info_article {
    width: 500px;
    background-color: red;
    opacity: 0.5;
}